
  .status {
    padding: 8px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   */
  .connected {
    background-color: green;
    color: white;
    
  }
  
  .not-connected {
    background-color: rgb(203, 163, 163);
    color: white;
  }
  